
<html>
<head>
    <title>What is my endorsement level?</title>
</head>
<body>
<h1>Sorry, user not found.</h1>
<p> You may wonder how to use What is my endorsement level?</p>
<p> Simply go to http://whatismyendorsement.herokuapp.com/XX/B_TAG where XX is your platform (possible values pc, psn, xbl) and B_TAG is your battle.net battletag like Valkia-2299.</p>
<p>Few examples:</p>
<p><a href="http://whatismyendorsement.herokuapp.com/pc/Valkia-2299">http://whatismyendorsement.herokuapp.com/pc/Valkia-2299</a></p>
<p><a href="http://whatismyendorsement.herokuapp.com/psn/Mercy">http://whatismyendorsement.herokuapp.com/psn/Mercy</a></p>
<p><a href="http://whatismyendorsement.herokuapp.com/xbl/vent">http://whatismyendorsement.herokuapp.com/xbl/vent</a></p>

<p>Remember your battletag is case sensitive, so Valkia-2299 from examples above will work like a charm, but valkia-2299 not.</p>
<p>If you find any bug or battletag which is not working properly let me know <a href="https://www.reddit.com/r/Overwatch/comments/8wle8t/so_i_made_a_site_where_you_can_check_your/">here</a></p>
</body>

</html>
