{% load staticfiles %}

<html>
<head>
    <title>What is my endorsement level?</title>
    <link rel="stylesheet" type="text/css" href="../">
</head>
<body>
<div class="header">
    <h2>Your endorsement information:</h2>
</div>
<div class="infos">
    <p class="level">Hi {{ person.btag }}, Your endorsement level is: {{ endorsement.level }}</p>

    <p class="total">Total endorsement is: {{ endorsement.total }}</p>
    <p class="shotcaller">Shotcaller level is: {{ endorsement.shotcaller }}</p>
    <p class="sportsmanship">Sportsmanship level is: {{ endorsement.sportsmanship }}</p>
    <p class="teammate">Teammate level is: {{ endorsement.teammate }}</p>
</div>


<div class="requiredLevels">
  <p>It's still a bit mystery but possible requirements for endorsement levels are:</p>
  <ul>
    <li>50-60 for 2nd level</li>
    <li>200-250 for 3rd level</li>
    <li>400+ for 4th level</li>
    <li>1000+ for 5th level</li>
  </ul>
  <p>Please report <a href="https://www.reddit.com/r/Overwatch/comments/8wle8t/so_i_made_a_site_where_you_can_check_your/">here</a> what is yout endorement level and how many endorcements do you recieved</p>
  <p>to help find out what are real requirements for each endorsement level. Thanks!</p>


</div>
</body>

</html>
