<html>
<head>
    <title>What is my endorsement level?</title>
    <link rel="stylesheet" type="text/css" href="../../gettingstarted/static/mystyle.css">
</head>
<body>
<div class="header">
    <h2>Your endorsement information:</h2>
</div>
<div class="infos">
    <p class="level">Your endorsement level is: {{ endorsement.level }}</p>

    <p class="total">Your total endorsement is: <p class="bold">{{ endorsement.total }}</p></p>
    <p class="shootcaller">Your shootcaller endorsement is: {{ endorsement.shootcaller }}</p>
    <p class="sportsmanship">Your sportsmanship endorsement is: {{ endorsement.sportsmanship }}</p>
    <p class="teammate">Your teammate endorsement is: {{ endorsement.teammate }}</p>
</div>
</body>

</html>